/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
  Modified and updated to suit the application
*/

@media only screen and (max-width : 700px) {
    body {
        width: 500px !important;
    }

    .container {
        width: 400px !important;
    }

    .ghost-button { 
        min-width: 150px !important;
        margin: 10 !important;
        padding: 10 !important;
    }

    .ghost-input {
        margin: 10 !important;
        padding: 10 !important;
        font-size: 15px !important;
    } 

    .ghost-list {
        margin: 10 !important;
        padding: 10 !important;
    }
}


body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }
  .container {
    width: 600px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }
  
  .darkh1 {
     color: white;    
  }
  
  p {
      text-align: center;
      padding: 0;
      margin: 0;
      font-weight: 600;
  }

  i {
    position: inline;
    float: right;
    text-align: right;
  }

  fieldset {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 30px;
  }
  .ghost-input {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    border-bottom:1px solid #ddd;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .ghost-input-dark {
    color: #fff !important;
    background: #212121 !important;
  }

  input{
    text-align:center;
 }

  .ghost-button {
    background-color: transparent;
    border:2px solid #ddd;
    padding:10px 30px; 
    width: 100%;
    min-width: 350px;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ghost-button:hover {
    border:2px solid #515151;
  }

  .ghost-button-dark {
      border: 2px solid black;
      color: white !important;
  }

  .ghost-list {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans,Verdana;
    padding: 2px 10px;
    margin: 20px 0px;
  }

  .ghost-list:hover {
        border-bottom: 1px solid #ddd;
  }

  .ghost-list-dark {
      color: #fff;
      background: #212121;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }

  
